@tailwind base;
@tailwind components;
@tailwind utilities;


/* Navbar Section */

.navbarSection{
  width: 1440px;
  height: 102px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.navLogo{
  width: 70px;
  height: 43.7px;
  margin-right: 80px;
}


.navButtonsWrapper{
  display: flex;
  justify-content: space-between;
  gap: 64px;
  font-size: 12px;
  color: #1f2937;
  margin-right: 224px;
}


.navButton{
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.navButton:hover{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}


.onClick{
  display: none;
  margin-right: 24px;
  align-items: center;
}


.smallNabar{
  display: none;
}



@media screen and (max-width:768px) {

  .navbarSection{
    justify-content: space-between;
    width: 100%;
  }
  
  .navLogo{
    margin-right: 0px;
    margin-left: 20px;
  }
  
  .navButtonsWrapper{
    display: none;
  }

  .onClick{
    display: block;
  }

  .smallNabar{
    display: block;
    position: fixed;
    top: 100px;
    right: 10%;
    z-index: 50;
    padding: 12px;
    border-radius: 24px;
    background-color: #1f2937;
  }
  
  .smallNavButtonsWrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 12px;
    gap: 12px;
    font-size: 24px;
    transition-duration: 300ms;
    transition-delay: 300ms;
  }
  
  .smallNavButton{
    color: white;
  }
  
  .smallNavButton:hover{
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    
  }
}





/* Hero Section */

.heroSction{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 144px;
  width: 1170px;
  margin-left: 10%;
}


.contentWrapper{
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  align-items: start;
}


.contentWrapper > *:not(:last-child){
  margin-bottom: 48px;

}


.mainContent{
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  align-content: start;
  line-height: 1;
}


.mainHeading1{
  font-size: 64px;
  color: #9ca3af;
  font-weight: 300;
}

.mainHeading2{
  font-size: 64px;
  font-weight: bold;
}


.arrowImgWrapper{
  display: flex;
}

.arrowImg{
  height: 53px;
  width: 53px;
}

.numberImg{
  height: 52px;
  width: 142px;
}

.largeImgWrapper{
  position: relative;
}

.largeImg{
  width: 770px;
  height: 829px;
}


.arrowBtnImg{
  height: 71px;
  width: 222px;
  position: absolute;
  right: 580px;
  top: 785px;
}


@media screen and (max-width:768px) {

  .heroSction{
    padding: 12px;
    width: auto;
    gap: 40px;
    flex-direction: column;
    margin-left: 0%;
  }

  .contentWrapper{
    align-items: center;
    margin-top: 40px;
  }
  
  
  .contentWrapper > *:not(:last-child){
    margin-bottom: 32px;
  }

  .mainContent{
    margin-top: 80px;
    align-content: center;
  }
  

  .largeImg{
    height: 390px;
    width: 100%;
  }

  .largeImg{
    height: 390px;
    width: 100%;
  }
}




/* About Section */


.aboutSection{
  padding: 24px;
  width: 1170px;
  height: 465px;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #e5e7eb ;
  border-radius: 8px;


}
  

.firstImgsWrapper{
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.aboutImg1{
  height: 265px;
  width: 270px;
  margin-left: 32px;
}

.aboutImg2{
  height: 140px;
  width: 270px;
  margin-left: 32px;
}


.secondImgWrapper{
  height: 80%;
  margin-top: 2%;
}

.aboutImg3{
  height: 345px;
  width: 270px;
}

.aboutText{
  display: flex;
  flex-direction: column;
  width: 40%;
}


.aboutHeading{
  font-size: 64px;
  color: #9ca3af;
  font-weight: 300;
}


.aboutImg4{
  height: 71px;
  width: 222px;
}

.aboutImg4:hover{
  opacity: 0.75;
}


@media screen and (max-width:768px) {

  .aboutSection{
    padding: 40px;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 40px;
    margin-left: 0%;
  
  }
  
  .aboutText{
    width: auto;
  }
  
  .aboutHeading{
    font-size: 50px;
  }

  .aboutImg1{
    margin-left: 0px;
    width: auto;
  }

  .aboutImg2{
    margin-left: 0px;
    width: auto;
  }

  .aboutImg3{
    width: 100%;
  }

}




/* Focuses Section */

.focusesSection{
  width: 1170px;
  height: 268px;
  margin-left: 10%;
}


.focusSecHeading{
  font-size: 64px;
  color: #9ca3af;
  font-weight: 300;
}

.breakdownForSmall{
  display: none;
}


.focusesContentWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.contentBox{
  width: 570px;
  height: 144px;
  display: flex;
  flex-direction: row;
  padding: 8px;
}


.focusesImg{
  width: 70px;
  height: auto;
}


.focusesPara{
  text-align: justify;
  font-size: 22px;
}



@media screen and (max-width:768px) {

  .focusesSection{
    width: auto;
    height: auto;
    padding: 6px;
    margin-left: 0%;
  }

  .focusSecHeading{
    font-size: 30px;
  }
  

  .focusesContentWrapper{
    flex-direction: column;
    gap: 40px;
    justify-content: space-evenly;
    padding-left: 40px;
  }


  .contentBox{
    width: auto;
    height: auto;
    gap: 20px;
  }


  .focusesImg{
    width: 104px;
    height: 140px;
  }
  

  .focusesPara{
    font-size: 18px;
  } 
  
}




/* Projects Section */

.projectSection{
  height: 765px;
  width: 1170px;
  margin-left: 10%;
}


.projecHeading{
  font-size: 64px;
  color: #9ca3af;
  font-family: 300;
}


.projectMainContainer{
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.projectContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.projectSubContainer{
  display: flex;
  position: relative;
}


.projectImg1{
  height: 255px;
  width: 570px;
}


.projectImg4{
  height: 255px;
  width: 570px;
  color: #374151;
}


.projectImg5{
  height: 255px;
  width: 270px;
}

.projectImg6{
  height: 255px;
  width: 470px;
}


.projectImg7{
  height: 255px;
  width: 370px;
}

.lastContainer{
  display: flex;
  justify-content: end;
}

.projectImg8{
  height: 71px;
  width: 221.81px;
}

.projectImg8:hover{
  opacity: 0.75;
}


@media screen and (max-width:768px) {
  
  .projectSection{
    margin-left: 0%;
    height: auto;
    width: auto;
    padding: 12px;
  }

  .projecHeading{
    font-size: 40px;
  }
  
  .projectContainer{
    flex-direction: column;
    justify-content: space-evenly;
    gap: 40px;
  }

  .projectImg1{
    width: auto;
  }

  .projectImg4{
    width: auto;
  }

  .projectImg5{
    width: auto;
  }

  .projectImg6{
    width: auto;
  }

  .projectImg7{
    width: auto;
  }
}




/* Contact Section */

.contactSection{
  height: 603px;
  width: 1170px;
  margin-left: 10%;
}

.contactHeading{
  font-size: 64px;
  font-weight: 300;
  color: #9ca3af;
}

.contactContentWrapper{
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contactForm input {
  height: 46px;
  width: 391px;
  background-color: white;
}

.contactForm input::placeholder{
  padding-left: 16px;
  padding-right: 16px;
}

.fieldWrapper{
  position: relative;
}

.contactForm span {
  position: absolute;
  right: 256px;
  top:8px;
  color: red;
}


.contactForm textarea {
  height: 147px;
  width: 391px;
  background-color: #f3f3f3;
  resize: none;
}


.contactForm textarea::placeholder{
  padding-left: 16px;
  padding-right: 16px;
}


.contactImg1{
  height: 369px;
  width: 749px;
}


.contactImg2{
  width: 221.81px;
  height: 71px;
}

.contactImg2:hover{
  opacity: 0.75;
}


@media screen and (max-width:768px) {

  .contactSection{
    width: auto;
    height: auto;
    gap: 40px;
    padding: 12px;
  }

  .contactHeading{
    font-size: 50px;
  }

  .contactContentWrapper{
    flex-direction: column;
  }

  .contactForm input{
    width: 100%;
  }

  .contactForm span {
    display: none;
  }

  .contactForm textarea {
    width: 100%;
  }
  
  .contactImg1{
    width: auto;
  }
  
}





/* Footer Section */

.footerSection{
  height: 417px;
  width: 1440px;
  background-color:  #2c2c2c;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  padding-top: 2%;
}


.footerContentWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 112px;
}


.footerImg1{
  height: 94px;
  width: 145px;
}

.footerInfo{
  height: 229px;
  width: 605px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 160px;
}


.footerInfo  h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: start;
}

.footerMedia h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}


.infoList{
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 16px;
  gap: 16px;
  margin-top: 16px;
}


.contactList{
  display: flex;
  flex-direction: column;
  gap: 32px;
  
}


.contactList li {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}


.footerImg2{
  height: 16px;
  width: 11px;
}

.footerImg3{
  height: 16px;
  width: 16px;
}

.footerImg4{
  height: 11px;
  width: 16px;
  margin-top: 8px;
}


.footerMedia{
  margin-right: 96px;
}


.mediaList{
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 28px;
}


.footerImg5{
  height: 19px;
  width: 10px;
}

.footerImg6{
  height: 16px;
  width: 21px;
}

.footerImg7{
  height: 20px;
  width: 20px;
}

.footerImg8{
  height: 19px;
  width: 14px;
}


.copyRightSection{
  width: 1440px;
  height: 50px;
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #d8d8d8;
}


.copyRightText{
  font-size: 12px;
  color: #c8c8c8;
}


@media screen and (max-width:768px) {

  .footerSection{
    justify-content: space-between;
    padding: 40px;
    width: auto;
    height: 800px;
    padding-top: 0px;
    align-items: normal;
  }
  
  .footerContentWrapper{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
  }

  .footerImg1{
   margin-top: 40px;
  }


  .footerInfo{
    width: auto;
    height: auto;
    gap: 64px;
    flex-direction: column;
  }

  .footerInfo  h3 {
    text-align: center;
  }

  .infoList{
    font-size: 14px;
    gap: 8px;
    flex-direction: row;
    text-align: center;
  }


  .footerMedia{
    margin-right: 0px;

  }

  .copyRightSection{
    margin-top: 40px;
    width: 100%;
  }
}




/* Certificate Section */

.certificateSection{
  line-height: 1;
  margin-top: 40px;
  margin-left: 10%;
  height: 600px;
}

.certificateHeading1{
  font-size: 64px;
  color: #9ca3af;
  font-weight: 300;
}


.certificateHeading2{
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 40px;
}



@media screen and (max-width:768px) {

  .certificateHeading1{
    font-size: 50px;
  }

  .certificateHeading2{
    font-size: 50px;
  }
  
}




/* Gallery Section */

.gallerySection{
  width: 80%;
  margin-left: 10%;
}

.galleryHeadingWrapper{
  line-height: 1;
}

.galleryHeading1{
  font-size: 64px;
  color: #9ca3af;
  font-weight: 300;
  margin-top: 32px;
}

.galleryHeading2{
  font-size: 64px;
  font-weight: bold;
}

.galleryImgsWrapper{
  width: 1170px;
  gap: 24px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}


.galleryImges{
  height: 260px;
  width: 210px;
}

.galleryExtraImgs{
  display: flex;
  gap: 36px;
  margin-top: 60px;
}

.galleryImg1{
  height: 52px;
  width: 140px;
}

.galleryImg2{
  height: 53px;
  width: 53px;
}

.galleryImg3{
  height: 53px;
  width: 53px;
}



@media screen and (max-width:768px) {

  .gallerySection{
    width: auto;
    padding: 20px;
    margin-left: 0%;
  }

  .galleryImges{
    width: auto;
  }

  .galleryImgsWrapper{
    width: auto;
    gap: 12px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
}




/*Rout Projects Section */

.routProjectSection{
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 40px;
}


.headingWrapper{
  line-height: 1;
}

.routProjectHeading1{
  font-size: 64px;
  color: #9ca3af;
  font-weight: 300;
}

.routProjectHeading2{
  font-size: 64px;
  font-weight: bold;
}

.routProjectWraper{
  height: 435px;
  width: 1170px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}


.routProjectImg1{
  height: 435px;
  width: 670px;
  width: auto;
}


.routProjectContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 435px;
  width: 440px;
}


.routProjectHeading{
  font-size: 40px;
  color: #9ca3af;
  font-weight: 300;
}

.routProjectText{
  text-align: justify;
  display: flex;
  justify-content: flex-end;
}

.routProjectImg2{
  height: 71px;
  width: 222px;
}

.routProjectExtraImgs{
  display: flex;
  gap: 36px;
}

.routProjectImg3{
  height: 52px;
  width: 140px;
}

.routProjectImg4{
  height: 53px;
  width: 53px;
}

.routProjectImg5{
  height: 53px;
  width: 53px;
}


@media screen and (max-width:768px) {
  
  .routProjectSection{
    gap: 56px;
    margin-left: 0%;
  }

  .routProjectWraper{
    height: auto;
    width: auto;
    flex-direction: column;
  }

  .routProjectContent{
    height: auto;
    width: auto;
  }
   
}